@import "normalize.css";
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}