@import "normalize.css";
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1000px;
}
body{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-main{
    display: flex;
    flex-direction: column;
}
.el-table{

    overflow: auto;
}
.el-row{
    margin-bottom: 20px;
}
.el-pagination{
    margin-top: 15px;
}